{
  "amazon_tag": "",
  "rakuten_application_id": "YOUR_APPLICATION_ID",
  "applicationId": "YOUR_APPLICATION_ID",
  "rakuten_access_key": "YOUR_ACCESS_KEY",
  "accessKey": "YOUR_ACCESS_KEY",
  "rakuten_affiliate_id": "YOUR_AFFILIATE_ID",
  "affiliateId": "YOUR_AFFILIATE_ID"
}
